/* Gradient background with lighter blue towards the outside and darker towards the circles */
body {
    /* background: linear-gradient(to bottom, #6a1b9a 10%, #1a237e 90%); Darker towards the circles */
    color: #ffffff; /* White text color */
    font-family: 'Lato', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* height: 150vh; */
}

header {
    color: #ffffff; /* White header text */
}


header nav ul li a {
    color: #ffffff; /* White navigation text */
}

/* Align h2 to the left */
h2 {
    text-align: left;
}

.center-link {
    color: #ffffff; /* White center link text */
    text-align: left;
    padding: 40px;
    font-size: 20px;
}

.image-row {
    display: flex;
    width: 100%;
    height: auto;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.circle {
    width: auto;
    height: auto;
    margin: 0 20px;
    border-radius: 50%;
    overflow: hidden;
    transition: transform 0.3s ease;
    text-decoration: none;
    position: relative;
    box-shadow: 0 0 30px #00000050;
    background-color: #6a1b9a;
    border: 3px solid #6a1b9a;
}

.circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.3s ease;
}

.hover-text {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff; /* White text color */
    font-size: 1.8vw;
    text-align: center;
    padding: 1px;
    border-radius: 0px;
}

.circle:hover img {
    opacity: 0; /* Hide the image */
}

.circle:hover .hover-text {
    display: block; /* Show the text */
}

/* Footer styles */
footer {
    background-color: #ffffff;
    color: #ffffff;
    padding: 20px 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    color: #ffffff;
}

.footer-container .logo img {
    margin-top: 1px; /* Add more margin-top to move the button down */
    max-height: 60px;
}

.footer-container h5 {
    margin-top: 0;
    color: #ffffff;
}

.social, .newsletter, .footer-menu, .copyright {
    /* color: #ffffff; */
    padding: 20px;
}

.social-container {
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
    gap: 15px;
    border-radius: 20px;
    border: 3px solid #6a1b9a;
    padding: 12px 2px;
    color: #ffffff;
    background-color: #6a1b9a;
    box-shadow: 0 0 20px #00000050;
}

.social-link {
    display: flex;
    align-items: center;
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
}

.social-link svg {
    width: 18px;
    height: 18px;
    margin-right: 8px;
    color: #ffffff;
}

.newsletter {
    max-width: 400px;
}

#mc_embed_signup {
    background: #0b1d46;
    color: #ffffff;
}

#mc_embed_signup input[type=email] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    background: #0b1d46;
    color: #ffffff;
}

#mc_embed_signup input[type=submit] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #ffffff;
    color: #0b1d46;
    font-weight: bold;
    cursor: pointer;
}

.footer-menu {
    display: flex;
    gap: 40px;
}

.footer-menu ul {
    list-style: none;
    padding: 0;
}

.footer-menu li {
    margin-bottom: 10px;
}

.footer-menu a {
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
}

.footer-menu a:hover {
    text-decoration: underline;
}

.copyright {
    text-align: center;
    margin-top: 20px;
}


/* General styles */
body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    color: #0b1d46;
}

/* Header styles */
header {
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo img {
    height: 60px;
    align: left;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Hero section styles */
.hero {
    background: #ffffff;
    padding: 40px 60px; /* Increase padding to enlarge height */
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 0 30px #00000050;
}

.hero-content {
    max-width: 800px;
    margin: 10 auto;
}

.hero h1 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 10px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 20px;
    margin-top: 10px;
    text-align: left;
}

.hero p1 {
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 10px;
    text-align: center;
}
.hero-button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.hero-button a {
    font-size: 20px;
    width: fit-content;
    background-color: #6a1b9a;
    color: #ffffff;
    padding: 20px 30px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 20px;
    transition: background-color 0.3s ease;

}

.hero-button:hover {
    background-color: #ffffff;
    color: #0b1d46;
}
